@use '../../App/mixin.scss';
@use '../../App/vars.scss';

.chart__container {
    background-color: vars.$background_grey;
    margin: 0.5rem 0.5rem 0 0;
    border: 1px solid black;
    padding: 3rem 3.5rem;
    border-radius: 2rem;
    height: 24rem;
    width: 35rem;
}

.container__chartMap{
    display: flex;
    flex-direction: row;
    align-items: center;
}